<link rel="stylesheet" href="{{ url_for('static', filename='css/global/style_footer.css') }}">
<div class="footer-container mt-5 bg-dark text-light">
<footer class="footer py-4">
<div class="container d-flex flex-column flex-md-row flex-wrap justify-content-between align-items-start">

  <div class="footer-section contact-info mb-4 mb-md-0">
    <h5 class="bi bi-info-circle me-3 icon-style"> Información de Desarrollo</h5>
    <div class="footer-item mb-2">Simulador de Planificación de Procesos</div>
    <div>
      <div class="footer-item mb-2">
        <i class="bi bi-cpu me-3 icon-style"></i>Grupo de Desarrollo:
      </div>
      <ul class="integrantes-list mb-2">
        <li>Jesús Gabriel Rodríguez Rubio</li>
        <li>Lissette Viviana Cárdenas Pallares</li>
        <li>Jesús Mauricio Aponte Cruz</li>
      </ul>
    </div>
    <div class="footer-item mb-2"><i class="bi bi-geo-alt-fill me-3 icon-style"></i>Universidad Simón Bolívar - Av. 4 #14-28, Cúcuta, Norte de Santander</div>
  </div>

  <div class="footer-section social-links mb-4 mb-md-0 text-center">
    <h5 class="mb-4 title-section">Síguenos en:</h5>
    <a href="/" class="social-icon me-3" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="/" class="social-icon" target="_blank"><i class="bi bi-facebook"></i></a>
  </div>

  <div class="footer-section brand-info text-center">
    <h5 class="mb-3 title-section">Ingeniería de Sistemas</h5>
    <a href="/" class="logo-link">
      <img src="{{ url_for('static', filename='uploads/icon.png') }}" alt="icon" width="140" class="img-fluid footer-logo">
    </a>
  </div>
</div>

<div class="text-center mt-4 border-top copyright-section pt-3">
  <p class="mb-0 copyright-text">Simulador de Planificación de Procesos 2025 ©.</p>
</div>

</footer>
</div>